<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }}</title>
<!--<title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>-->
{% seo %}

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/guias.css' | relative_url }}">

<!-- KaTeX -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"
        onload="renderMathInElement(document.body);"></script>

<link rel="icon" href="{{ '/favicon.png' | relative_url }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ '/favicon.png' | relative_url }}">